.main-nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}
.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul>li {
    padding: 0 20px;
}

a {
    text-decoration: none;
}